<div class="card">
  <img src="{{player.imageURL}}" style="width:100%">
	  <h1>{{player.fullName}}</h1>
		  <p class="title">{{player.battingStyle}}</p>
		  <p class="title">{{player.born}}</p>
		  <p class="title">{{player.country}}</p>
		  <p class="title">{{player.currentAge}}</p>
		  <p class="title">{{player.playingRole}}</p>
		  <p class="title">{{player.profile}}</p>
		  <p>ICC CRICKET COUNCIL</p>
		  <a href="#"><i class="fa fa-dribbble"></i></a> 
		  <a href="#"><i class="fa fa-twitter"></i></a> 
		  <a href="#"><i class="fa fa-linkedin"></i></a> 
		  <a href="#"><i class="fa fa-facebook"></i></a> 
		  <p><button>Contact</button></p>
</div>