<section id="inner-headline">
	<div class="container">
	
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Pricing</h2>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">	 
		<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Voluptatem Accusantium Doloremque</h3>
									<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                                    	<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
								</div>  
							</div>
						</div>
		<!-- end divider -->
		<div class="row">
			<div class="col-lg-12"> 
			</div>
			<div class="col-lg-3">
				<div class="pricing-box-item">
					<div class="pricing-heading">
						<h3><strong>Basic</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6>&#36;15.00 / Year</h6>
					</div>
					<div class="pricing-container">
						<ul>
							<li><i class="icon-ok"></i> Responsive Design</li>
							<li><i class="icon-ok"></i> Bootstrap Design</li>
							<li><i class="icon-ok"></i> Unlimited Support</li>
							<li><i class="icon-ok"></i> Free Trial version</li>
							<li><i class="icon-ok"></i> HTML5 CSS3 jQuery</li>
						</ul>
					</div>
					<div class="pricing-action">
						<a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Get Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="pricing-box-item">
					<div class="pricing-heading">
						<h3><strong>Standard</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6>&#36;20.00 / Year</h6>
					</div>
					<div class="pricing-container">
						<ul>
							<li><i class="icon-ok"></i> Responsive Design</li>
							<li><i class="icon-ok"></i> Bootstrap Design</li>
							<li><i class="icon-ok"></i> Unlimited Support</li>
							<li><i class="icon-ok"></i> Free Trial version</li>
							<li><i class="icon-ok"></i> HTML5 CSS3 jQuery</li>
						</ul>
					</div>
					<div class="pricing-action">
						<a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Get Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="pricing-box-item activeItem">
					<div class="pricing-heading">
						<h3><strong>Advanced</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6>&#36;15.00 / Year</h6>
					</div>
					<div class="pricing-container">
						<ul>
							<li><i class="icon-ok"></i> Responsive Design</li>
							<li><i class="icon-ok"></i> Bootstrap Design</li>
							<li><i class="icon-ok"></i> Unlimited Support</li>
							<li><i class="icon-ok"></i> Free Trial version</li>
							<li><i class="icon-ok"></i> HTML5 CSS3 jQuery</li>
						</ul>
					</div>
					<div class="pricing-action">
						<a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Get Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="pricing-box-item">
					<div class="pricing-heading">
						<h3><strong>Mighty</strong></h3>
					</div>
					<div class="pricing-terms">
						<h6>&#36;15.00 / Year</h6>
					</div>
					<div class="pricing-container">
						<ul>
							<li><i class="icon-ok"></i> Responsive Design</li>
							<li><i class="icon-ok"></i> Bootstrap Design</li>
							<li><i class="icon-ok"></i> Unlimited Support</li>
							<li><i class="icon-ok"></i> Free Trial version</li>
							<li><i class="icon-ok"></i> HTML5 CSS3 jQuery</li>
						</ul>
					</div>
					<div class="pricing-action">
						<a href="#" class="btn btn-medium"><i class="icon-bolt"></i> Get Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>

	<div class='center' >
		<table class="table" border border-primary >
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Team</th>
      <th scope="col">Total Matches Played</th>
      <th scope="col">Total Won</th>
      <th scope="col">Total Lost</th>
      <th scope="col">Total Draw</th>
      <th scope="col">Points</th>
      <!-- <th scope="col">Handle</th> -->
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let table of tables; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{table.team.name}}</td>
      <td>{{table.playedGames}}</td>
      <td>{{table.won}}</td>
      <td>{{table.lost}}</td>
      <td>{{table.draw}}</td>
      <td>{{table.points}}</td>
      <!-- <td>@mdo</td> -->
    </tr>
  </tbody>
</table>
	</div>